@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Simple Attendance Management System is a web-based application built using ASP.NET MVC that facilitates the tracking and management of attendance for Employees. The system provides an intuitive interface to record, view, and manage attendance records efficiently.</p>
    <p> Click on the <b>Employees</b> section at Nav Bar to View, Add, Edit or Delete employee.</p>
    <p> Click on the <b>Attendances</b> section at Nav Bar to View, Add, Edit or Delete Attendance.</p>
    <p>Click on the <b>Home</b> section at Nav Bar to return back to this Home page.</p>
    <p>Hope this Simple assessment </p>
</div>
